In [1]:
import pandas as pd
import numpy as np
import country_converter as coco

In [2]:
visa = pd.read_csv("data/visa.csv", index_col = 0)
def converter(x):
    if(x == "YUGOSLAVIA" or x == "SERBIA AND MONTENEGRO"):
        return "SERBIA"
    else:
        return x
visa["citizenship"] = visa["citizenship"].apply(converter)
c = coco.convert(names = visa["citizenship"].value_counts().index.tolist(), to = 'ISO2')
c = [i.lower() for i in c]
d = [list(x) + [] for x in zip(c[::-1], range(1, len(c) + 1))]

In [63]:
ind_data = pd.pivot_table(visa, values = 'application type', index=['citizenship'],
                    columns=['category'], aggfunc= 'count').fillna(0)
ind_data.index = pd.Series(coco.convert(names = ind_data.index.tolist(), to = 'ISO2')).str.lower()
for i in ind_data.columns:
    print("{name: '" +  i + "', y: typeData[country]['" +  i + "']},")

{name: 'Advanced Mfg', y: typeData[country]['Advanced Mfg']},
{name: 'Aerospace', y: typeData[country]['Aerospace']},
{name: 'Agribusiness', y: typeData[country]['Agribusiness']},
{name: 'Automotive', y: typeData[country]['Automotive']},
{name: 'Biotechnology', y: typeData[country]['Biotechnology']},
{name: 'Construction', y: typeData[country]['Construction']},
{name: 'Educational Services', y: typeData[country]['Educational Services']},
{name: 'Energy', y: typeData[country]['Energy']},
{name: 'Finance', y: typeData[country]['Finance']},
{name: 'Geospatial', y: typeData[country]['Geospatial']},
{name: 'Health Care', y: typeData[country]['Health Care']},
{name: 'Homeland Security', y: typeData[country]['Homeland Security']},
{name: 'Hospitality', y: typeData[country]['Hospitality']},
{name: 'IT', y: typeData[country]['IT']},
{name: 'Other Economic Sector', y: typeData[country]['Other Economic Sector']},
{name: 'Retail', y: typeData[country]['Retail']},
{name: 'Transportation', y: typeData[country]['Transportation']},

In [5]:
countries = pd.read_csv("data/visa_decision.csv", index_col = 0)
countries["value"] = pd.Series()
for i in d:
    countries.loc[i[0]]["value"] = i[1]
countries = countries.reset_index()
#countries.to_json("data/visa_decision.json", orient = "index", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

    index      N       Y   percent  value
0      af    1.0     3.0  0.750000   43.0
1      al    2.0    10.0  0.833333   82.0
2      dz    2.0     1.0  0.333333   38.0
3      ar   22.0    67.0  0.752809  122.0
4      am    0.0     9.0  1.000000   69.0
5      au   28.0   122.0  0.813333  139.0
6      at    1.0    15.0  0.937500   89.0
7      az    0.0     7.0  1.000000   57.0
8      bs    2.0     8.0  0.800000   72.0
9      bh    0.0     1.0  1.000000   10.0
10     bd   22.0    98.0  0.816667  133.0
11     bb    1.0    10.0  0.909091   78.0
12     by    9.0    36.0  0.800000  105.0
13     be    2.0    27.0  0.931034   97.0
14     bz    0.0     2.0  1.000000   32.0
15     bj    0.0     1.0  1.000000    3.0
16     bm    1.0     1.0  0.500000   21.0
17     bt    0.0     1.0  1.000000    1.0
18     bo    4.0    16.0  0.800000   92.0
19     ba    0.0     3.0  1.000000   41.0
20     bw    1.0     2.0  0.666667   33.0
21     br   36.0   190.0  0.840708  144.0
22     bg    8.0    56.0  0.875000  117.0
23     bf    1.0     0.0  0.000000    2.0
24     mm    0.0    14.0  1.000000   87.0
25     bi    1.0     1.0  0.500000   26.0
26     kh    2.0     2.0  0.500000   49.0
27     cm    1.0    13.0  0.928571   85.0
28     ca  229.0  1404.0  0.859767  157.0
29     ky    0.0     2.0  1.000000   30.0
..    ...    ...     ...       ...    ...
129    kn    1.0     1.0  0.500000   31.0
130    lc    1.0     5.0  0.833333   53.0
131    vc    0.0     3.0  1.000000   34.0
132    sd    0.0     1.0  1.000000   14.0
133    sr    2.0     1.0  0.333333   37.0
134    se    2.0    47.0  0.959184  107.0
135    ch    6.0    28.0  0.823529   99.0
136    sy    5.0    52.0  0.912281  111.0
137    tw   72.0   401.0  0.847780  152.0
138    tj    2.0     2.0  0.500000   45.0
139    tz    2.0     6.0  0.750000   61.0
140    th   23.0    79.0  0.774510  129.0
141    tg    0.0     1.0  1.000000   12.0
142    tt    7.0    40.0  0.851064  106.0
143    tn    0.0     7.0  1.000000   58.0
144    tr   33.0   240.0  0.879121  148.0
145    tm    0.0     3.0  1.000000   39.0
146    ug    2.0     5.0  0.714286   56.0
147    ua   21.0    91.0  0.812500  131.0
148    ae    0.0     1.0  1.000000   16.0
149    gb   92.0   444.0  0.828358  153.0
150    us   21.0    57.0  0.730769  119.0
151    uy    0.0    14.0  1.000000   84.0
152    uz    2.0     8.0  0.800000   73.0
153    vu    0.0     1.0  1.000000   17.0
154    ve   43.0   219.0  0.835878  147.0
155    vn    9.0    55.0  0.859375  115.0
156    ye    0.0     3.0  1.000000   42.0
157    zm    1.0     3.0  0.750000   44.0
158    zw    1.0    16.0  0.941176   90.0

[159 rows x 5 columns]

In [16]:
visa

,category,citizenship,application type,visa class,decision
0,Automotive,ECUADOR,MAILEDIN,EWI,Y
1,Advanced Mfg,INDIA,ONLINE,H-1B,Y
2,Advanced Mfg,PHILIPPINES,ONLINE,L-1,Y
3,Advanced Mfg,INDIA,ONLINE,H-1B,Y
4,Advanced Mfg,INDIA,ONLINE,H-1B,Y
5,Advanced Mfg,INDIA,ONLINE,H-1B,Y
6,Advanced Mfg,INDIA,ONLINE,H-1B,Y
7,IT,COLOMBIA,ONLINE,H-1B,Y
8,IT,INDIA,ONLINE,H-1B,Y
9,Transportation,SOUTH KOREA,ONLINE,E-2,Y
10,IT,INDIA,ONLINE,H-1B,Y
11,IT,GERMANY,ONLINE,H-1B,Y
12,Advanced Mfg,UNITED KINGDOM,ONLINE,H-1B,Y
13,Energy,INDIA,ONLINE,H-1B,Y
14,Geospatial,INDIA,ONLINE,H-1B,Y
15,Health Care,UKRAINE,ONLINE,H-1B,Y
16,IT,INDIA,ONLINE,L-1,Y
17,IT,INDIA,ONLINE,H-1B,Y
18,IT,INDIA,ONLINE,H-1B,Y
19,Construction,EL SALVADOR,MAILEDIN,EWI,Y
20,Construction,EL SALVADOR,MAILEDIN,TPS,Y
21,Hospitality,UNITED STATES OF AMERICA,MAILEDIN,H-1B,Y
22,IT,INDIA,ONLINE,H-1B,Y
23,Construction,POLAND,ONLINE,B-2,Y
24,Finance,INDIA,ONLINE,L-1,Y
25,IT,INDIA,ONLINE,H-1B,Y
26,IT,INDIA,ONLINE,H-1B,Y
27,Advanced Mfg,INDIA,ONLINE,H-1B,Y
28,Advanced Mfg,FRANCE,ONLINE,H-1B,Y
29,Aerospace,CHINA,ONLINE,H-1B,Y
...,...,...,...,...,...
38561,Advanced Mfg,INDIA,ONLINE,H-1B,N
38562,IT,INDIA,ONLINE,H-1B,N
38563,Educational Services,JORDAN,ONLINE,H-1B,N
38564,Advanced Mfg,ITALY,ONLINE,E-1,N
38565,IT,INDIA,ONLINE,H-1B,N
38566,IT,INDIA,ONLINE,H-1B,N
38567,IT,INDIA,ONLINE,H-1B,N
38568,Other Economic Sector,SOUTH KOREA,ONLINE,B-2,N
38569,IT,INDIA,ONLINE,H-1B,N
38570,IT,ISRAEL,ONLINE,E-1,N
38571,Advanced Mfg,UNITED KINGDOM,ONLINE,H-1B,N
38572,IT,INDIA,ONLINE,H-1B,N
38573,Advanced Mfg,ISRAEL,ONLINE,L-1,N
38574,Other Economic Sector,INDIA,ONLINE,H-1B,N
38575,Other Economic Sector,PHILIPPINES,ONLINE,H-1B,N
38576,IT,INDIA,ONLINE,H-1B,N
38577,Other Economic Sector,SOUTH KOREA,ONLINE,F-1,N
38578,Advanced Mfg,UNITED KINGDOM,ONLINE,H-1B,N
38579,IT,INDIA,ONLINE,H-1B,N
38580,IT,INDIA,ONLINE,H-1B,N
38581,Educational Services,DENMARK,ONLINE,H-1B,N
38582,IT,INDIA,ONLINE,H-1B,N
38583,Advanced Mfg,SOUTH KOREA,ONLINE,H-1B,N
38584,IT,INDIA,ONLINE,H-1B,N
38585,IT,INDIA,ONLINE,H-1B,N
38586,Automotive,INDIA,ONLINE,H-1B,N
38587,Other Economic Sector,INDIA,ONLINE,H-1B,N
38588,Advanced Mfg,INDIA,ONLINE,H-1B,N
38589,IT,INDIA,ONLINE,H-1B,N
38590,Transportation,UNITED KINGDOM,ONLINE,B-2,N